<form class="card col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 " id="btnRegistration_Form">
    <div class="card-body">
        <h1 class="text-center mb-0">ClassPro Registration</h1>

        <!-- Email -->
        <div>
            <label for="txtEmail" class="form-label mt-4">Email:</label>
            <input id="txtEmail" class="form-control" type="email" placeholder="Email Address" aria-label="email">
        </div>

        <!-- Password -->
        <div>
            <label for="txtPassword" class="form-label mt-4">Password:</label>
            <input id="txtPassword" class="form-control" type="password" placeholder="Password" aria-label="password">
        </div>

        <!-- Confirm Password -->
        <div>
            <label for="txtConfirm_Password" class="form-label mt-4">Confirm Password:</label>
            <input id="txtConfirm_Password" class="form-control" type="password" placeholder="Confirm Password"
                aria-label="confirm password">
        </div>

        <!-- First Name -->
        <div>
            <label for="txtFirst_Name" class="form-label mt-4">First Name:</label>
            <input type="text" id="txtFirst_Name" class="form-control" placeholder="First Name" aria-label="first name">
        </div>

        <!-- Middle Name -->
        <div>
            <label for="txtMiddle_Name" class="form-label mt-4">Middle Name:</label>
            <input type="text" id="txtMiddle_Name" class="form-control" placeholder="Middle Name"
                aria-label="middle name">
        </div>

        <!-- Last Name -->
        <div>
            <label for="txtLast_Name" class="form-label mt-4">Last Name:</label>
            <input type="text" id="txtLast_Name" class="form-control" placeholder="Last Name" aria-label="last name">
        </div>

        <!-- Mobile Phone Number -->
        <div>
            <label for="txtMobile_Phone_Number" class="form-label mt-4">Mobile Phone Number:</label>
            <input type="tel" id="txtMobile_Phone_Number" class="form-control"
                placeholder="Phone Number: (###) ###-####" aria-label="phone number">
        </div>

        <!-- Discord Username -->
        <div>
            <label for="txtDiscord_Username" class="form-label mt-4">Discord:</label>
            <input type="text" id="txtDiscord_Username" class="form-control" placeholder="Discord Username"
                aria-label="Discord username">
        </div>

        <!-- School Name -->
        <div>
            <label for="txtSchool" class="form-label mt-4">School:</label>
            <input type="text" id="txtSchool" class="form-control" placeholder="School Name" aria-label="School name"
                required>
        </div>

        <!-- Submit Button -->
        <div>
            <button id="txtSubmit" type="button" class="btn btn-primary col-12 mt-4">Submit</button>
        </div>

        <!-- Link to Login Form -->
        <div class="text-center mt-3">
            <button id="showLoginForm" type="button" class="btn btn-link">Already have an account? Login</button>
        </div>

    </div>
</form>
